

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35px;
    width: 60%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    margin-left: -9em;
}

@media screen and (min-width:768px){
    .carousel-caption h3{font-size: 52px;} 
    .carousel-caption p{font-size: 32px;} 
    .carousel-caption{padding-bottom:160px;}
}


